.home_content{
    margin-top: 20px;
}

.blog_preview{
    margin-top: 10px;
    padding: 10px;
    transition: all 0.2s;
}

.blog_preview p{
    font-size: 0.8rem;
}

.blog_preview:hover{
    cursor: pointer;
    box-shadow: 0px 5px grey;
}